{% extends 'index/layout.html' %}
{% block title %}
{{form.title}} ~ Google Forms CLONE
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block script %}
<script src="{% static 'index/form.js' %}"></script>
<script src="{% static 'lib/cookie.min.js' %}"></script>
{% endblock %}
{% block body %}
<div class = "container-fluid">
    <div class="form-topnav">
        <a href = "/">
            <img src = "{% static 'Icon/icon.png' %}" alt = "Google Forms Icon(CLONE)" class="navbar-icon form-icon" title = "Forms" />
        </a>
        <input class="nav-text nav-form-title edit-on-click input-form-title" value  = "{{form.title}}" type="text">
        <div class="float-right">
            <img src="{% static 'Icon/theme.png' %}" alt="Theme icon" id="customize-theme-btn" title = "Customize theme" class="nav-form-menu-icon" />
{#            <a href="{% url 'view_form' form.code %}">#}
            <img src="{% static 'Icon/eye.png' %}" alt="Preview icon" title = "Preview" class="nav-form-menu-icon big-screen" />
            </a>
            <img src="{% static 'Icon/send.png' %}" alt ="Send icon" title = "Send" class="nav-form-menu-icon small-screen" id="send-form-btn" />
            <img src="{% static 'Icon/setting.png' %}" alt="Setting icon" title = "Setting" class="nav-form-menu-icon open-setting" />
            <button class = "btn send-form-btn big-screen" title = "Send" id="send-form-btn">Send</button>
        </div>
    </div>
    <div class="container">
        {{ form|crispy }}
    </div>
</div>
{% endblock %}