 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 398px;
}

.u-section-1 .u-image-1 {
  height: 353px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -293px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 233px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 47px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px auto 0 47px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 233px;
}

.u-section-1 .u-container-layout-2 {
  padding: 6px 0;
}

.u-section-1 .u-group-1 {
  min-height: 215px;
  height: auto;
  width: 401px;
  margin: 6px 51px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -6px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -504px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 192px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 147px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 148px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -658px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 221px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 129px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -639px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 139px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 574px;
}

.u-section-2 .u-image-1 {
  height: 530px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -530px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 507px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 16px 30px 27px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 30px 14px 0;
}

.u-section-2 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0 14px;
}

.u-section-2 .u-text-2 {
  margin: 30px 50px 0 14px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 507px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.875rem;
  margin: 30px auto 0 0;
  padding: 8px 100px 9px 98px;
}

.u-section-2 .u-group-1 {
  min-height: 288px;
  height: auto;
  width: 346px;
  margin: 14px 53px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-text-3 {
  margin: 6px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -29px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -801px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-2 .u-group-1 {
    width: 329px;
    margin-right: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 17px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -847px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 252px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1306px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 416px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1246px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1560px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 670px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1500px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 212px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 454px;
}

.u-section-3 .u-image-1 {
  height: 454px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -454px;
  margin-bottom: 34px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 300px;
  height: 300px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 216px;
    height: 216px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1344px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }
}